---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <p>this is srivtx</p>
    <p>welcome to my blog</p>
    <p>This is where I share my thoughts and experiences.</p>
    <a href="/blog" class="cta">Read Blog Posts</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 800px;
    font-family: system-ui, sans-serif;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
  }

  .cta {
    display: inline-block;
    padding: 0.5em 1em;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.2s ease;
  }

  .cta:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
</style>